.FAQ-Qs{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.FAQ-Qs section{
    flex: 50%;
    padding:3% 2% 3% 2%;
}

.FAQ-page{
    max-width:1000px;
    padding: 10% 0 0;
    margin: auto;
}

.FAQ-form{
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 800px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.FAQ-Qs h3{
    font-size: 22px;
    font-weight: bold;
}