.privacy-page{
    max-width:1000px;
    padding: 8% 0 0;
    margin: auto;
}

.privacy-form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 800px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.privacy-form p{
    text-align: left;
}

