
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url('https://fonts.googleapis.com/css2?family=Bellota&family=Inter:wght@100;200;300;400;500;600;700&family=M+PLUS+Rounded+1c:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

nav{
    width:100%;
    font-family: "Inter", sans-serif;
}
body{
    width:100%;
    min-height: 100vh;
    text-align:center;
    display:flex;
    flex-direction:column;

    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
}

h1, h2, h3{
    font-weight: bold;
}


a{
    color: black;
}

iframe{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

.logo h1{
    font-size: 1.8em;
    font-family: 'Bellota', cursives;
    font-weight: 400;
}
.navbar-light{
    width:100%;
    display:flex;
    position: sticky;
    background-color:rgba(245,176,111,0.9);
    justify-content: space-between;
    align-items: center;
    top:0%;
    z-index:2;
}

.justify-content-center{
    transform: translateX(-3%);
}
.menu-items{
    display:none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.dropdown-toggle{
    font-size: 1.2em;
}

.nav-item {
    margin-left: 0.5em;
}

.nav-list-wrapper{
    position: absolute;
    display:table;
    margin: 0 auto;
}

.nav a:hover, footer a:hover {
    background-color: rgba(255, 255, 255, .3)
}

.burger{
    font-size: 1.2rem;
    font-weight: 400;
    color: #475569;
}

.burger:hover{
    color: #482ff7;
}

.nav-menu{
    padding:0;
    position: fixed;
    left: 100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);

    z-index:1;
}

.nav-menu.active{
    left: 0%;
    background-color: rgba(255,171,91,1);
}

.nav-link{
    text-decoration: underline;
    font-size: 1.5em;
}

.nav-link:hover{
    text-decoration: underline;
    font-size: 1.5em;
}
.hamburger {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hamburger a{
    min-width: fit-content;
    font-size: 1.5em;
    cursor: pointer;
}
.hamburger-logo{
    display:none;
    margin-left:3vw;
    cursor:pointer;
}


.hamburger-logo.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-logo.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-logo.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.wrapper-div{
    
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.wrapper-div img{
    height: 100px;
    
}
.button{
    border:none;
    border-radius: 5px;
    padding:5px 20px;
    background: rgba(255,171,91,1);
}

.button-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3% 0;
    background-color: rgba(194,255,172,1);
}
.button-primary{
    display:none;
}
.button-survey,.button-primary,.refresh{
    transition: 0.5s;
}
.button-survey:hover,.button-primary:hover, .refresh:hover{
    
    transform:scale(105%);
    box-shadow: 2px 2px 5px rgba(0,0,0,1);
}


.form button:hover,.form button:active,.form button:focus {
    transform:scale(105%);
    box-shadow: 2px 2px 5px rgba(0,0,0,1);
  
}
.form label{
    font-weight: bold;
}
.form input {
    font-weight: 600;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
.form button {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    outline: 0;
    background: rgba(255,171,91,1);
    border-radius: 5px;
    width: 100%;
    border: 0;
    padding: 15px;
    color: rgba(0,0,0,1);
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    transition: 0.5s;
}
.intro-sec{
    width:100%;
    overflow: hidden;
}

.main-sec{
    text-align: center;
    margin-top:5%;
}

.main-sec-wrapper{
    position: relative;
    overflow: hidden;
}

.blog{
    display:flex;
    justify-content: center;
    align-items:center;
}

.intro.img{
    min-height: 250px;
}

.intro-wrapper{
    position: relative;
    padding:3% 0;
    width:100%;
    height:100%;
   
}
.intro.paragraphs{
    margin:0 30px;
}

.intro-bg{
    position:absolute;
    width:80%;
    z-index:-1;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.04;
}

.intro iframe{
    width:300px;
    height:300px;
    
}

.cart-wrapper, .rate-wrapper{
    text-align: center;
    display: flex;
    flex-direction:column;
}

.cart-wrapper a, .rate-wrapper a{
    transition: 0.5s ease-in-out;
}

.cart-wrapper a:hover, .rate-wrapper a:hover{
    transform: scale(110%);
}

.comments{
    display:flex;
    justify-content: space-evenly;
    margin-top:100px;
}

.comments h3{
    font-style: italic;
}

.comment-sec{
    margin:5%;
    padding:20px 0 20px 0;
    text-align: center;
}



.middle{
    flex:1;
}

footer{
    width:100%;
    max-height: 120px;
    background-color: rgba(245,176,111,0.8);
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 30px 30px;
    margin-top: auto;
    bottom:0px;
    font-family: "Inter", sans-serif;
    
}

.footer-nav{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transform: translateX(-13%);
    
}

.help h1{
    font-size: 1.8em;
}
.footer-link{
    padding: 0 20px;
    font-size: 1.5em;
}

.footer-link a{
    text-decoration: underline;
}
